{% extends 'base.html' %}
{% block page_content %}
{% load static%}

<div class="container-inline">
    <section id="welcomePage">
        <div id="welcome-message">
            <h1>Create Profile:</h1>
        </div>

    </section>

    <section id="registerPage">
        <form method="POST" action="{% url 'create profile' %}">
            <fieldset>
                <legend>Profile</legend>

                {{ form }}
                {% csrf_token %}

                <button type="submit" class="register">Register</button>
            </fieldset>
        </form>
    </section>
</div>
{% endblock %}
