{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <title></title>
    {{ form.media }}

</head>

<section class="editPage">
    <form method="POST" action="{% url 'edit profile' user.pk %}" enctype="multipart/form-data">
        <fieldset class="align-center2">
            <legend>Edit Profile</legend>
            <div class="container">

                {{ form }}
                {% csrf_token %}

                <button class="buttonEdit" type="submit">Edit Profile</button>
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}