{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <section id="detailsPage">
        <div class="wrapperMovie">
            <form method="POST" action="{% url 'edit movie' movie.pk %}" enctype="multipart/form-data">
                <label class="movieText">
                    {{ form }}
                    {% csrf_token %}
                <button type="submit" class="buttonAdd">Update Movie</button>
                </label>
            </form>
        </div>
    </section>
{% endblock %}